USE [master]
GO
/****** Object:  Database [LibeyTechnicalTest]    Script Date: 19/05/2025 16:49:51 ******/
CREATE DATABASE [LibeyTechnicalTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibeyTechnicalTest', FILENAME = N'/var/opt/mssql/data/LibeyTechnicalTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibeyTechnicalTest_log', FILENAME = N'/var/opt/mssql/data/LibeyTechnicalTest_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibeyTechnicalTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibeyTechnicalTest]
GO
/****** Object:  Table [dbo].[DocumentType]    Script Date: 19/05/2025 16:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
	[DocumentTypeId] [int] NOT NULL,
	[DocumentTypeDescription] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibeyUser]    Script Date: 19/05/2025 16:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibeyUser](
	[DocumentNumber] [varchar](20) NOT NULL,
	[DocumentTypeId] [int] NULL,
	[Name] [varchar](100) NULL,
	[FathersLastName] [varchar](100) NULL,
	[MothersLastName] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[UbigeoCode] [char](6) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 19/05/2025 16:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceCode] [char](4) NOT NULL,
	[RegionCode] [char](2) NULL,
	[ProvinceDescription] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProvinceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 19/05/2025 16:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionCode] [char](2) NOT NULL,
	[RegionDescription] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 19/05/2025 16:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubigeo](
	[UbigeoCode] [char](6) NOT NULL,
	[ProvinceCode] [char](4) NULL,
	[RegionCode] [char](2) NULL,
	[UbigeoDescription] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[UbigeoCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DocumentType] ([DocumentTypeId], [DocumentTypeDescription]) VALUES (1, N'Documento Nacional de Identidad')
GO
INSERT [dbo].[LibeyUser] ([DocumentNumber], [DocumentTypeId], [Name], [FathersLastName], [MothersLastName], [Address], [UbigeoCode], [Phone], [Email], [Password], [Active]) VALUES (N'14520873', 1, N'Ana', N'Torres', N'Mendoza', N'Av. Central 101', N'150104', N'987654324', N'ana4@mail.com', N'pass1234', 1)
INSERT [dbo].[LibeyUser] ([DocumentNumber], [DocumentTypeId], [Name], [FathersLastName], [MothersLastName], [Address], [UbigeoCode], [Phone], [Email], [Password], [Active]) VALUES (N'18503429', 1, N'Diego', N'Soto', N'Ponce', N'Jr. Río 1010', N'150113', N'987654333', N'diego13@mail.com', N'pass1234', 1)
INSERT [dbo].[LibeyUser] ([DocumentNumber], [DocumentTypeId], [Name], [FathersLastName], [MothersLastName], [Address], [UbigeoCode], [Phone], [Email], [Password], [Active]) VALUES (N'19083275', 1, N'Laura', N'Molina', N'Chavez', N'Av. Luna 505', N'150108', N'987654328', N'laura8@mail.com', N'pass1234', 1)
GO
INSERT [dbo].[Province] ([ProvinceCode], [RegionCode], [ProvinceDescription]) VALUES (N'0101', N'01', N'Chachapoyas')
INSERT [dbo].[Province] ([ProvinceCode], [RegionCode], [ProvinceDescription]) VALUES (N'0102', N'01', N'Bagua')
INSERT [dbo].[Province] ([ProvinceCode], [RegionCode], [ProvinceDescription]) VALUES (N'0103', N'01', N'Bongara')
GO
INSERT [dbo].[Region] ([RegionCode], [RegionDescription]) VALUES (N'01', N'Amazonas')
INSERT [dbo].[Region] ([RegionCode], [RegionDescription]) VALUES (N'02', N'Ancash')
INSERT [dbo].[Region] ([RegionCode], [RegionDescription]) VALUES (N'03', N'Apurimac')
GO
INSERT [dbo].[Ubigeo] ([UbigeoCode], [ProvinceCode], [RegionCode], [UbigeoDescription]) VALUES (N'010101', N'0101', N'01', N'Chachapoyas')
INSERT [dbo].[Ubigeo] ([UbigeoCode], [ProvinceCode], [RegionCode], [UbigeoDescription]) VALUES (N'010102', N'0101', N'01', N'Asuncion')
INSERT [dbo].[Ubigeo] ([UbigeoCode], [ProvinceCode], [RegionCode], [UbigeoDescription]) VALUES (N'010103', N'0101', N'01', N'Balsas')
GO
USE [master]
GO
